{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Las Sbudas </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify-content-center">
                    This is the number one supplier of football boots worldwide.
                    We have supplied boots to over 25 000 footballers, the majority of them being professionals.
                </p> 
            </div>
        </center>
    </div>
</div>

{% endblock%}